<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Banner Section"},"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main id="content" class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:pattern {"slug":"sports-outlet/banner"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"sports-outlet/categories-section"} /-->
<!-- wp:pattern {"slug":"sports-outlet/features-section"} /-->
<!-- wp:pattern {"slug":"sports-outlet/blog-section"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
